@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');

//spacing
$spacing: 8px;

//colors
$primary-color: #07b0f7;
$secondary-color: #c607f7;
$error-color: #f74e07;
$success-color: #38f707;

//fonts
$font-family: 'Akaya Telivigala', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
$text-xsmall: 8px;
$text-small: 16px;
$text-medium: 24px;
$text-large: 32px;
$text-xlarge: 48px; 
