@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');
$primary-color: #07b0f7;
$secondary-color: #c607f7;
$error-color: #f74e07;
$success-color: #38f707;
$padding: 8px;
$font-family: 'Akaya Telivigala', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;